extends layout
block append content
  div(class="blog-post")
    each post, index in posts
      if user && user.role=='admin'
        form(method='post', action='/post/id'+post._id)
          input(type="hidden" name="_method" value="delete")
          button(class="btn btn-sm btn-primary" type=submit) Удалить
      h2(class="blog-post-title")
        a(href='post/id'+post._id)= post.title
      p(class='blog-post-meta') #{moment(post.cr_date).format("DD MMM YYYY HH:mm")}
      p= post.body
      if post.m_date
        p(class='blog-post-meta' align='right') #{'Отредактировано: '+moment(post.m_date).format("DD MMM YYYY HH:mm:ss")}
      hr(color='blue')