h1(align="center") Блог Тая ^_^
if user
  div(style='margin: 0 auto; width:700px')
    nav
      a(href='add_post' align=center) Добавить запись
div(style="display:table;margin-left:auto;margin-right:auto;width:60%")
  div(style="display:table-row")
    div(style="display:table-cell;width:80%;padding:5")
      each post, index in posts
        p= post.cr_date
        a(href='post'+post._id)= post.title
        p= post.body
    div(style="display:table-cell;padding:5")
      if user
        p= "Привет, "+user.login
        form(method='delete', action='/auth2')
          button(type=submit) Выйти
      else
        a Авторизация
        form(method='post', action='/auth')
          a Логин
          br
          input(name='user[login]')
          br
          a Пароль
          br
          input(name='user[pass]')
          br
          button(type=submit) Войти
        input(type="button" value="Зарегистрироваться" onclick="location.href='/registration'")
